@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.store {
  position: relative;
}

.cards-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-card {
  margin: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 4px 4px 9px -4px black;
}

.shop-card-image {
  position: relative;
  text-align: center;
  width: inherit;
  height: inherit;
}

.shop-card-title {
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  margin: 0;
  padding: 5px;
  text-transform: uppercase;
  transform: scale(0.6, 1);
  font-weight: 400;
}

.shop-card-price {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 5px;
  transform: scale(0.6, 1);
  font-weight: 400;
  color: red;
}

.shop-card-color {
  position: absolute;
  font-size: 0.8rem;
  top: 2.5rem;
  left: 0;
  right: 0;
  margin: 0;
  padding: 5px;
  transform: scale(0.6, 1);
  font-weight: 400;
}

.add-to-cart-button {
  position: absolute;
  bottom: 15px;
  right: 10px;
  background: inherit;
  color: red;
  border: solid 1px;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background: lightgrey;
  border-color: inherit;
}

.shop-card-image img {
  width: inherit;
  height: auto;
}

.icon-switch {
  position: relative;
  min-height: 30px;
}

.material-icons {
  position: absolute;
  right: 0px;
	color: dimgray;
  cursor: pointer;
}

.list-view {
	width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-view-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
	background-color: #f5f5f5;
	padding: 0px 10px;
}

.list-view-item img {
  width: 75px;
  height: fit-content;
}

.list-view-item h2 {
  margin: 0;
}

.list-view-item .add-to-cart-button {
  position: static;
}


